.button {
    font: inherit;
    border: 1px solid red;
    background: #cdadd3;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: red;
    border-color: green;
  }
  
  .button:focus {
    outline: none;
  }